.offersSection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vmax;
  }

  .offersSection   img{
    margin: 0 1vmax;
    transition: all 0.5s;
}

.offersSection   img:hover{
    box-shadow: 6px 6px 12px rgba(32, 32, 32, 0.363);
  }